/*------------------- FOR ALL---------------------------*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    color:#434455;
}

ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}


img {
    display: block;
}

address {
    font-style: normal;
}

 section{
    padding-top: 96px;
    padding-bottom: 96px;
}

button {
    cursor: pointer;
    
}

.container {
    width: 320px;
    padding: 0 16px;
    margin: auto;
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1158px) {

    .container {
        width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
    }
}

/*--------------------------------------------------*/

/*-------------------- HEADER-------------------------*/

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container{
    display:flex;
    align-items: center;  
}

.header-navigation{
    display: flex;
    align-items: center;
    margin-right: auto;  
}

.header-logo {
    margin-right: 76px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-menu-list{
    display: none;
    gap: 40px;   
}

.header-menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-menu-link {
    display:block;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-link {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-link::after {
    display: block;
    content: "";
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
    margin-left: auto;
    display: none;
}

@media screen and (min-width: 768px){
    .contacts{
        display: flex;
    }
    
}

.contacts-list {
    gap: 40px;
}

.footer-logo-color,
.header-logo-color {
color: #2e2f42;
}

.contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus,
.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn-open {
    padding: 16px 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-menu {
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: fixed;
    top: 0;
    opacity: 0;
    pointer-events: none;
    width:100%;
    height:100%;
    z-index: 999;
}

.backdrop-menu.is-open {
    opacity: 1;
    pointer-events: auto;
}

.mobile-modal-menu {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    display: flex;
    flex-direction: column;
}

.mobile-menu-close-btn{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: block;
    margin-left: auto;
    background: #e7e9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}
.menu-close-icon {
    display: flex;
    fill: #2e2f42;
    margin: 0 auto;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-list{
    list-style: none;
}

.mobile-menu-item:not(:last-child){
    margin-bottom: 40px;
}

.mobile-menu-nav {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    display: flex;
    justify-content: start;
    align-items: end;
}

.current {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-contacts-box{
    margin-top: auto;
    margin-bottom: 40px;
}

.mobile-menu-contacts-list{
    list-style: none;
}
.mobile-menu-contacts-item:not(:last-child){
    margin-bottom: 24px;
}
.menu-contacts-tel{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.menu-contacts-mail{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-menu-contacts-item:focus,
.mobile-menu-contacts-item:hover {
    color: #404bbf;
}

.menu-icon {
    width: 280px;
    height: 40px;
    margin-top: 40px;
}

.menu-list-icon {
    display: flex;
    gap: 40px;
}

.menu-icon-item {
    width: 40px;
    height: 40px;
}

.menu-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-icon-link:hover {
    background-color: #31d0aa;
}

.menu-icon-link:focus {
    background-color: #31d0aa;
}

.menu-icon-image {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .header-container {
        align-items: center;
    }

    .header-menu {
        display: flex;
        gap: 40px;
    }

    .menu-btn-open {
    display: none;
    }

    .header-menu-list {
        display: flex;
        gap: 40px;
    }
    
    .header-menu-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }
    
    .header-menu-link {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .studio-link {
        position: relative;
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .studio-link::after {
        display: block;
        content: "";
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .contacts {
        margin-left: auto;
    }
    
    .footer-logo-color,
    .header-logo-color {
        color: #2e2f42;
    }
    
    .contacts-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .contacts-link:hover,
    .contacts-link:focus,
    .header-menu-link:hover,
    .header-menu-link:focus {
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 1158px) {
    .contacts-list {
        display: flex;
        gap: 40px;
    }

    .contacts-link {
        font-size: 16px;
        line-height: 1.5;
    }
}
/*--------------------------------------------------*/

/*----------------------HERO------------------------*/
.hero{
    padding: 72px 0;
    
}
@media screen and (min-width: 768px){
    .hero{
        padding: 112px 0;
        max-width: 1440px;
        margin: auto;
    }   
}

@media screen and (min-width: 1158px){
    .hero {
        padding: 188px 0;
        max-width: 1440px;
        margin:auto;
    }
}

.hero-image {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url('../images/hero/mobile-hero-1x.jpg');    
    background-position: center;
    background-size: cover;
    width:100%;        
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-image {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url('../images/hero/mobile-hero-2x.jpg');
    }
}

@media screen and (min-width: 768px) {
    .hero-image {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url('../images/hero/tablet-hero-1x.jpg');
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-image {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url('../images/hero/tablet-hero-2x.jpg');
    }
}

@media screen and (min-width: 1158px) {
    .hero-image {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url('../images/hero/desktop-hero-1x.jpg');
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-image {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url('../images/hero/desktop-hero-2x.jpg');
        }
    }
}



.hero-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px){
    .hero-title {
        font-size: 56px;
        line-height: 107%;
        max-width: 496px;
    }
}

@media screen and (min-width: 1158px) {
    .hero-title {
        max-width: 1440px;
    }
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  margin: 0 auto;
  background-color: #4d5ae5;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);   
}

.hero-btn:hover,
.hero-btn:focus {
    background: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*--------------------------------------------------*/

/*---------------------Features---------------------*/

.features {
    margin-top: 0;  
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list{
    display: flex;
    flex-direction: column;
    gap: 72px;
}

@media screen and (min-width: 768px){
    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }
}

@media screen and (min-width: 1158px){
    .features-list {
        display: flex; 
        gap: 24px;
    }
}

.features-list-item{
    width: 288px; 
}

@media screen and (min-width: 768px) {
    .features-list-item {
        /* width: 356px; */
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .features-list-item {
        /* width: 264px; */
        width: calc((100% - 72px) / 4);
    }
}

    /* display: none; */

.features-icons {
    fill:#2e2f42;
    display: none;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    justify-content: center;
    align-items: center;
    background-color:#f4f4fd;
}

@media screen and (min-width: 1158px) {
    .features-icons {
        display: flex;
    }
}

.features-item-name{
        
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;      
}

@media screen and (min-width: 768px) {
    .features-item-name {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .features-item-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 111%;
    }
}

.features-item-text{
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em; 
        color: #434455;
}

@media screen and (min-width: 1158px) {
    .features-item-text {
        font-weight: 400;
    }
}

/*--------------------------------------------------*/

/*-------------Our Team, Portfolio------------------*/

.team{
    margin-top:0;
    margin-bottom:0;
    background: #f4f4fd;
}

.card{
   padding: 32px 0; 
}

.portfolio-title,
.team-title {
    margin-top: 0;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:72px;
    justify-content: center;
    align-items: center;       
}

@media screen and (min-width: 768px) {
    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .team-list {
        display: flex;
        gap: 24px;
    }
}

.team-list-item {
    margin-top:0;
    margin-bottom: 0;
    background: white;
    text-align: center;
    border-radius: 0 0 4px 4px;
    width: 264px;
    /* width:calc((100% - 72px) / 4); */
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: white;
}

.team-list-item-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;      
}

.team-list-item-text {
    margin-bottom: 8px;
    margin-top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.social-icons {
    display:flex;
    justify-content: center;
    gap: 24px;;
}

.social-icons-item {
    width:40px;
    height:40px;
}

.social-icons-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#f4f4fd;
    background-color: #4d5ae5;
    width:100%;
    height:100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-icon {
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:focus,
.social-icons-link:hover {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    align-items: center;
    justify-content: center;    
}

@media screen and (min-width: 768px){
    .portfolio-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }
}

.portfolio-list-item {    
    width:288px;
    background: white;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.portfolio-list-item-image{
    display: block;
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 768px) {
    .portfolio-list-item {
    width: calc((100% - 48px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-list-item {
        width: calc((100% - 48px) / 3);
    }
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .picture {
     position: absolute;
     margin: 0 auto;
     background-color:#4d5ae5;
     position: relative;
     overflow: hidden;
     display:block;
}

.overlay-text {
    position:absolute;
    top:0;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color:#f4f4fd;
    padding:40px 32px;
    background: #4d5ae5;
    width:100%;
    height:100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
.picture:hover .overlay-text {
    transform:translateY(0%);
}

.description-img{
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding:32px 16px;
    height: 120px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description-img:hover {
    transform:translateY(0%);
}

.portfolio-list-item-name{
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-list-item .portfolio-list-item-text:hover {
    transform: translateY(0%);
}

/*--------------------------------------------------*/

/*---------------------Footer-----------------------*/

.footer { 
     background: #2e2f42;
     padding-top: 96px;
     padding-bottom: 96px;  
} 

.footer-box{
    align-items: center;
}

@media screen and (min-width: 768px){
    .footer .footer-box {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: first baseline;
    }
}


@media screen and (min-width: 768px) {
    .footer .footer-box {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: first baseline;
    }
}

@media screen and (min-width: 1158px) {
    .footer .footer-box {
        margin-bottom: 0;
    }
}

.footer-container-info {
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .footer-container-info {
        margin: 0 24px 0 0;
    }
}

.footer-logo{
        display: flex;
        margin-top: 0;
        margin-bottom:16px;
        font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        justify-content: center;        
}

@media screen and (min-width: 768px) {
    .footer-logo {
        justify-content: left;
    }
}

.footer-logo-color{
        color:#f4f4fd;       
}

.footer-container-social {
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .footer-container-social {
        margin-top: 0;
    }
}

@media screen and (min-width: 1158px) {
    .footer-container-social {
        margin-top: 0;
        margin-right: 80px;
        margin-bottom: 0;
    }
    
}

.footer-box {
    display:flex;
    flex-direction: column;    
} 
    
.footer-icons {
    display:flex;
    gap:16px;
    list-style: none;
    justify-content: center;
}

.footer-list{
    width:40px;
    height:40px;
}

.footer-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#f4f4fd;
    background-color: #4d5ae5;
    width:100%;
    height:100%;   
}

.icon-footer {
    fill: #f4f4fd;      
}

.footer-list-icon:focus,
.footer-list-icon:hover {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-text {
    margin-bottom: 0;
    margin-top: 0;
    width: 264px;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-text-networks {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#fff;
    margin-bottom: 16px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer-text-networks {
        text-align: start;
    }
}

.footer-form-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: white;
    margin-bottom: 16px;
    gap:24px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer-form-text {
        text-align: left;
    }
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:24px;   
}

@media screen and (min-width: 768px) {
    .footer-form {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
}

.footer-input {
    border: 1px solid white;
    border-radius: 4px;
    background-color: transparent;
    width: 264px;
    height: 40px;
    padding: 0 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color:#fff;
}

.footer-input::placeholder{

    color: white;

}
.sent{
    margin-left: 16px;
}

.footer-form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: auto;
    padding: 8px 24px; */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: white;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    border: none;    
}

/*--------------------------------------------------*/


/*---------------------MODAL FORM-----------------------*/
.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.md-container{
    position: absolute;
    width: 288px;
    min-height: 623px;
    background: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 16px 16px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.md-btn-close {
    display: flex;
    border-radius: 50%;
    fill: #2e2f42;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    right:24px;
    top:24px;
    position:absolute;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.md-btn-close svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.md-btn-close:focus,
.md-btn-close:hover {
    background-color: #404bbf;
    border: none;
    fill: white;
}

.md-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-align: center;    
}

.md-field {
    margin-bottom: 8px;
}

.md-textarea{
    margin-bottom: 16px
}

.md-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.md-field-wrap {
    position: relative;
}

.md-field-wrap svg{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.md-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    outline: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.md-input:focus{
    border-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.md-input:focus +.md-icon {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #4d5ae5;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.md-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.md-text {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.md-text:focus {
    border-color: #4D5AE5;
}

.md-check-text {

    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    position: relative;
    width:100%;
    height:120px;


}
.md-check-text:hover,
.md-check-text:focus {
    border-color: #4D5AE5;
}

.span-check-box{
    display: inline-flex;    
}

.privacy-link {
   text-decoration: underline;
   color: #4d5ae5;;
}

.md-check-text span{
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;    
    height:16px;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.md-check:checked +.md-check-text span {
    border-radius: 2px;
    background-color: #404bbf;
    border: 1px solid #404bbf;
    border: none;
    fill: #F4F4FD;
}

.policy-line{
    margin-bottom: 24px;
}

.md-btn {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    color: white;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .md-container {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
}


/*--------------------------------------------------*/


    

   

    
    

    
  

   
    

   

     
   


   

    

    

  

  

    

  



       
     

   





